.footer {
  background-color: #040430;
  padding: 40px 0px 0px 0px;

  .footer-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px 20px 0px 0px;

    .links-group {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      border-radius: 30px 30px 0px 0px;
      padding: 40px 145px;

      h4 {
        font-size: 20px;
        margin-bottom: 15px;
        // color: #00aaff;
      }

      p {
        font-size: 14px;
        margin: 5px 0;
        line-height: 1.5;
      }

      .social-icons {
        display: flex;
        justify-content: center;
        gap: 10px;

        a img {
          width: 32px;
          height: 32px;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 5px 0;

          a {
            color: black;
            text-decoration: none;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer-term-cond {
      border-top: 1px solid #dacece;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 20px;

      span {
        color: #2c2c52;
        /* Text color */
      }

      a {
        text-decoration: none;
        color: #2c2c52;
        /* Link color */
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
        /* Optional: Add underline on hover */
      }
    }
  }

  @media (max-width: 425px) {
    .footer-container {
      .links-group {
        gap: 12px;
        padding: 20px;
      }
    }

    .useful-links-social {
      display: none;
    }

    .useful-links-social-small-screen {
      padding: 20px;

      h4 {
        margin-bottom: 1rem;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;

        li {
          margin: 5px 0;

          a {
            color: black;
            text-decoration: none;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .description {
      width: 35%;
    }

    .useful-links-company {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .useful-links-docu {
      width: 40%;
      
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (min-width: 768px) {
    .useful-links-social-small-screen {
      display: none;
    }
  }
}