// App.scss
.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Full height of the viewport

    main {
        flex: 1; // Allows the main content to grow and push the footer down
    }

    footer {
        background-color: #1a1a1a;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
}