// App.scss
.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Full height of the viewport
    background-color: #040430;
    main {
        flex: 1; // Allows the main content to grow and push the footer down
    }
}