.modal-container {
    max-width: 440px;
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s ease;
    }
    
    .close-icon:hover {
        color: #007bff;
    }
}
