.modal-container {
    max-width: 440px;
}

.close-icon {
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px; 
    right: 15px;
    background: none;
    border: none;
    color: white;
}


