.services-page {
    margin: 20px 0;
    .services-page-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 0px 20px;
    }
}