.services-page {
    padding: 20px;

    .intro-lead-container {
        display: flex;
        gap: 20px;
    }
    
    .intro-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        gap: 37px;

        ul li {
            padding: 2px;
            margin-bottom: 5px;
        }
    }
    
    .lead-form {
        justify-content: center;
        width: 80%;
    }
    
    .services-section {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 60px;

        h2 {
            margin-bottom: 15px;
        }
    }

    .cta {
        text-align: center;
    }
    
    .service-cards {
        display: flex;
        justify-content: space-around;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    .service-card {
        width: 30%;
        min-width: 200px;
        padding: 20px;
        border: 1px solid #ccc;
        text-align: center;
        border-radius: 8px;
    }
    
    .cta button {
        background-color:#007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    
        &:hover {
            background-color: #0056b3;
        }
    }
    
    /* Media Query for Tablets */
    @media (max-width: 768px) {
        .intro-lead-container {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .service-cards {
            flex-direction: column;
            align-items: center;
        }
    
        .service-card {
            width: 80%;
        }
    }
    
    @media (max-width: 480px) {
        .intro-section h2,
        .intro-section p,
        .service-card {
            font-size: 16px;
            padding: 10px;
        }
    
        .service-card {
            width: 100%;
            margin: 10px 0;
        }
    
        .cta button {
            width: 100%;
            padding: 12px;
            font-size: 16px;
        }

        .lead-form {
            width: 100%;
        }
    }
}
